.image-container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 400px;
    background-color: blueviolet;
    
}

.left, .right {
    flex: 1; /* Make both sides take up equal space */
}

.left {
    text-align: left; /* Align content to the left */
}

.right {
    text-align: right; /* Align content to the right */
}
